.base {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-dark {
    background-color: #37393a;
}

.base-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.paragraphcentered {
    padding: 16px;
    font-size: 22px;
    border-top: solid 2px #843b62;
    border-bottom: solid 1px #843b62;
    transition: .3s;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraphcentered:hover {
    padding: 16px 32px;
    border-color: #ff3633;
}

.github-a {
    font-size: 24px;
}

.base-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

@media screen and (max-width: 479px) {
    .paragraphcentered {
        font-size: 18px;
        padding: 4px, 8px;
        max-width: 75vh;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.17em;
    }

    h3 {
        font-size: 1em;
    }

    h4 {
        font-size: .83em;
    }
}