.buttonone {
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 0px;
    margin: 8px;
    background-color: #843b62;
    border: solid 1px #843b62;
    font-size: 22px;
    color: #f1f4ff;
    transition: .3s;
    min-width: 70px;
    min-height: 50px;
}

.buttonone:hover {
    color: black;
    background-color: #bbc2cc;
}

.buttonone:focus {
    outline: solid 2px #ff3633;
}