.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px
}

.card-inner {
    border: solid 2px #843b62;
    border-radius: 16px;
    height: 15vh;
    width: 15vw;
    min-width: 200px;
    min-height: 120px;
    display: flex;
    align-items: center;
    transition: .5s;
}

.card-header {
    font-size: 22px;
    margin: 8px;
}

.card-navlink {
    text-decoration: none;
    border-radius: 16px;
}


.card-inner:hover {
    /* border: solid 2px #ff3633; */
    border: solid 2px transparent;
    /* background-color: #843b6244; */
    /* background-color: #f1f4ff99; */

    .card-image {
        opacity: 12%;
    }
}

.card-image {
    height: 15vh;
    width: 15vw;
    min-width: 200px;
    min-height: 120px;
    z-index: -1;
    border-radius: 16px;
    border: solid .5px transparent;
    margin: 0px;
    padding: 0px;
    opacity: 100%;
    transition: .5s;
}

.card-text {
    position: absolute;
    width: 14vw;
    height: 14vh;
    min-width: 190px;
    padding: 8px;
    text-wrap: wrap;
    text-align: center;
    text-overflow: ellipsis;
    opacity: 0%;
    transition: .5s;
    color: black;
    font-weight: bold;
}

.card-text:hover {
    opacity: 100%;
}