.party-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    width: 50vw;
    padding: 1%;
    border-radius: 16px;
}

.job {
    font-weight: bold;
    font-size: 22px;
    font-family: "Final-Fantasy";
    color: #FFF;
    background: #11117e;
    border: 5px ridge white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 32px;
    margin: 32px;
    min-width: 12vw;
}

.job-p {
    margin: 0px 0px 16px 0px;
}

@media screen and (max-width: 1100px) {
    .party-container {
        width: 75vw;
    }

    .job {
        min-width: 150px;
    }
}

@media screen and (max-width: 479px) {
    .party-container {
        width: 75vw;
    }

    .job {
        min-width: 150px;
    }
}